* {
    box-sizing: airtel, helvetica, sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

body {
    font-family: 'Barlow', sans-serif;
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.774);
    align-items: center;
}

.members {
    display: flex;
    margin-left: 1.5rem;
}

.count {
    min-width: 3rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #4286f450;
    border: 0.2rem solid #4285F4;
    color: #4285F4;
    border-radius: 50rem;
    font-size: larger;
    font-weight: 600;
}

.logo {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members,
.logo {
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.logo img {
    height: calc(0.7rem + 1vw);
    width: fit-content;
    object-fit: cover;
    align-content: end;
    vertical-align: middle;
}

section {
    margin: 3rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.customButton {
    background-color: #4286f4d5;
    border: 0.2rem solid #ffffff;
    border-radius: 0.5rem;
    color: #FFFFFF;
    padding: 0.6rem 1rem;
    font-size: 16px;
}

.customButton img {
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: middle;
}

.customButton:hover {
    background-color: #4285F4;
    color: white;
}

.customButton2 {
    background-color: #7c8086d5;
    border: 0.2rem solid #ffffff;
    border-radius: 0.5rem;
    color: #FFFFFF;
    padding: 0.6rem 1rem;
    font-size: 16px;
}

.customButton2:hover {
    background-color: #7c8086;
    color: white;
}


.team {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.teamMember {
    position: relative;
    width: 15rem;
    max-width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.teamMember:hover {
    border: 1px solid black;
}

.teamMember h2 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}

.teamMember p {
    margin-bottom: 0rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
}



.profile img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: rgb(179, 179, 179);
    object-fit: cover;
}


ul {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0;
    list-style: none;
    background: #f2f2f23b;
    width: 2rem;
    border-radius: 3rem;
}

ul li {
    display: block;
    width: 1rem;
    position: relative;
    line-height: 1rem;
    text-align: center;
}

.actions {
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
}

.actions:hover {
    color: #fff;
    background: #9393936e;
    border-radius: 3rem;
}


.actionButton {
    width: 5rem;
    border: none;
    padding: 0.5rem;
    color: #333;
    border-radius: 0.2rem;
    text-align: left;
    font-size: smaller;
    vertical-align: middle;
}

.actionButton:hover {
    background: #b8bec9fd;
}

.dropdown {
    min-width: 100%;
    background: #f2f2f2d7;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

.actions img,
.actionButton img {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
}

/* Non-touch devices */
@media (hover: hover) {
    .actions {
        display: none;
    }

    .teamMember:hover .actions {
        display: block;
    }
}

/* Touch devices */
@media (hover: none) {
    .actions {
        display: block;
    }
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.technology {
    color: rgba(0, 0, 0, 0.678);
    max-width: 13rem;
    height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(255, 196, 35);
    border: 0.1rem solid rgb(187, 140, 13);
    margin: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.7rem;
    border-radius: 0.2rem;
}


.social {
    display: flex;
    height: 3rem;
    align-items: center;
}

.socialButton {
    vertical-align: middle;
    margin: 0 0.3rem;
    padding: 0.2rem;
    border: none;
    background-color: transparent;
}

.socialButton img {
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
}

.socialButton img:hover {
    width: 2.5rem;
    height: 2.5rem;
}







.popup-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fff;
    border-radius: 0.4rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 2rem;
    padding-top: 1rem;
    max-width: 30rem;
    width: auto;
}

.form-content {
    position: relative;
    height: calc(62vh + 2rem);
    padding: 0.5rem;
}

.language-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.language {
    background-color: transparent;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    margin: 0.2rem;
    font-size: 0.8rem;
}

.language span {
    color: black;
    max-width: 13rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.3rem;
}

.language button {
    margin: auto;
    vertical-align: middle;
    font-size: small;
}